.container{
	width: 1170px;
	margin: auto;
	padding: 0;
	&-inherit{
		height: inherit;
	}
	&-fluid{
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
	}
	&-align{
		align-items: center;
	}
}